:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    background-color: beige;
}

.main-container {
    max-width: 800px;
    height: 400px;

}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 0px;
}

.canvas {
    width: 100%;
    height: 100%;
    display: none;
}

.ascii-art {
    position: absolute;
    white-space: pre;
    overflow: hidden;
    margin: 0px;
}

.inputBox{
    display: flex;
    align-content: center;
    background-color: black;
    padding: 30px;
}
